<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bender.Properties.Settings>
            <setting name="LABEL_IN_NAME" serializeAs="String">
                <value>AVANTE</value>
            </setting>
            <setting name="LABEL_OUT_NAME" serializeAs="String">
                <value>AUTO_LABEL_OUT</value>
            </setting>
            <setting name="FOCUS_PROCESS_NAME" serializeAs="String">
                <value>PCBunseal_ScanPKGID_2</value>
            </setting>
        </Bender.Properties.Settings>
    </userSettings>
</configuration>